option_settings:
  aws:elasticbeanstalk:application:environment:
    OPENAI_API_KEY: "sk-proj-H30vwBURw4TJmZfvrEcXcDkfxoE8o2-ddpqDFzi-e4Evd5KygtUhks8rwZrXQMhZuE8rWr6Wt_T3BlbkFJy5wG96kVNNYOFdSkCPgDjUp7HaUXMAT_F8nQU8HXhg5eyGJ3RL9VNI5NnstWkM6oun2KJlMA"
    PINECONE_API_KEY: "pcsk_3ERFN3_KtTcKvRRWPLUMRw3tAijQG4nxCv7zyYn2UYnfqhpWZauDiiGyZf9Q583CWLqLhx"
    ELEVEN_API_KEY: "sk_681c5b0b20bec4e9948806833d18063721553711427efd11"
    PORT: "8000"
    HOST: "0.0.0.0"
    ENVIRONMENT: "production"
    ALLOWED_ORIGINS: "https://generalchatbot-env-1.eba-x9myhkrb.eu-north-1.elasticbeanstalk.com,http://localhost:3000"
    VITE_WEBSOCKET_URL: "wss://generalchatbot-env-1.eba-x9myhkrb.eu-north-1.elasticbeanstalk.com/api/user/ws"
    VITE_SERVER_API_URL: "https://generalchatbot-env-1.eba-x9myhkrb.eu-north-1.elasticbeanstalk.com/api/admin"
  
  aws:elasticbeanstalk:container:python:
    WSGIPath: "server:app"
  
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /var/www/generalchatbot/Frontend/dist 